#include "resource.h"

//-----------------------------------------------------------------
// Icons
//-----------------------------------------------------------------
IDI_PCV       ICON         "data\\pcv.ico"
